<app-user-area></app-user-area>
<div class="container" lasso="teste">
    <h2>Audiencias</h2>
    <p>Histórico de audiencias</p>
    <app-search 
        (onTyping) = "filter = $event">
    </app-search>
    <div class="text-right mt-2 mb-2 iniciaAudiencia" >
        <button (click)="listPlacar()" class="btn btn-info mr-1">Placares de lideres</button>
        <button (click)="createAudiencia()" class="btn btn-success">Iniciar Nova Audiencia</button>
    </div>       
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Nome do Juiz</th>
                <th>Data</th>
                <th>Situação</th>
                <th>Total de pontos</th>
                <th>Completude</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="(audiencias | filterByName:filter).length == 0">
                <td colspan="3"><i class="fas fa-exclamation-circle" style="color: red"></i> Nenhum resistro encontrado </td>
            </tr>
            <tr *ngFor="let audiencia of audiencias | filterByName:filter as filterdAudiencias">
                <td>{{audiencia.id}}</td>
                <td>{{audiencia.nomeJuiz}}</td>
                <td>{{audiencia.data}}</td>            
                <td>{{audiencia.tipo}}</td>
                <td>{{audiencia.pontos}}</td>
                <td>{{audiencia.completude}}</td>
            </tr>
        </tbody>
    </table>
    <app-load-button [hasMore] = "hasMore" (click)="load()"></app-load-button>
</div>